/* CHAT BOX */

.container{
    padding: 10px;
}

.box{
    width: 800px;
}

.control{
    padding: 10px;
}

/* MESSAGE BOX */

.input{
    width: 200px;
}

/* TAG CONNECTED USERS */ 

.tag{
    width: 50px;
}

strong{
    padding: 2px;
}


